/* debugging */
/*
.sic, em {
	padding: 1em;
	background: #F004;
}
em.maths {
	background: #F001;
}
*/

body {
    font: 1em/1.35 Cambria, Times, serif;
    hyphens: auto;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	color: gray;
	transition: 666ms;
	border-block-end: 1px solid gray;
	background: #FFF;
	z-index: 1;
}
nav:hover, nav:focus-within {
	box-shadow: 0 0 3em 3em #FFF;
	color: black;
}
nav > p {
	text-align: center;
	font-weight: 500;
	margin-block-end: -1px;
	background:
		linear-gradient(#000,#000) 50% 100% / 50em 1px no-repeat;
	;
}
nav:hover div, nav:focus-within div {
	height: 15em;
	padding-block: 1em;
}
nav div {
	height: 0;
	padding: 0;
	transition: 666ms;
}
nav ol {
	width: max-content;
	margin: 1em auto;
	padding-inline-start: 2em;
	columns: 2;
	gap: 4em;
	list-style-type: upper-roman;
	transform: translateX(2em);
}
nav ul {
	display: flex;
	justify-content: center;
	gap: 1.5em;
	list-style: none;
	margin: 0;
}
nav ul li + li {
	list-style: square;
}
nav :is(ol, ul) [href] {
	display: block;
}
nav :is(ol, ul) [href]:hover {
	background: #FF8;
}
nav [href]:local-link {
	font-weight: 900;
}


main {
    max-width: 40em;
    margin: 0 auto;
}
main section {
    margin: 4em 0 2em;
}
main *:is(h1, h2) {
    text-align: center;
}
main *:is(h1, h2, h3) {
    font-weight: normal;
    transform: scaleY(0.9);
    margin-block: 1.5em 0.25em;
}
main h1 {
	font-size: 2.25em;
}
main h1 i {
	display: block;
     transform: scaleY(0.85);
     letter-spacing: -1px;
	font-size: 75%;
	margin-block-end: 1.75em;
	text-transform: uppercase;
}
main h4 {
    font-weight: normal;
    font-style: italic;
    margin-block: 1em 0.25em;
}

dt {
	margin-inline-start: 1em;
	margin-block: 1.5em 0.75em;
	font-style: italic;
}

p {
    margin: 0;
    padding: 0.25em 0;
    text-align: justify;
}
p strong {
    margin-inline-end: 1ch;
}
p[id], [id] p:first-child, aside > p {
    text-indent: 1em;
}
:target, dt:target + dd {
    background: #FED;
    padding-block: 0.75em;
    padding-inline: 1em;
    margin-inline: -1em;
    scroll-margin-block-start: 4em;
}
p.cases {
    white-space: pre-wrap;
    margin-block: 0 1em;
    margin-inline: 1em;
    text-indent: 0;
}

a.xref {
    white-space: nowrap;
}
sup {
    font-size: 75%;
    line-height: 0.5;
}

main aside {
    border-block: 2px solid;
    padding-block: 2em;
    padding-inline: 2em;
    margin-block: 4em;
}
main aside h4 {
    margin-block: 2em 0.25em;
    font-style: italic;
    font-size: inherit;
    font-size: 105%;
    transform: none;
}
main aside figure {
    margin-block: 2em;
}
main aside em {
    margin-inline-end: 1ch;
}

.double {
	columns: 2;
}

section.biblio > ol {
    margin: 0;
    padding: 0;
    list-style: none;
    columns: 2;
    gap: 1.5em;
    font-size: 90%;
}
section.biblio li {
    text-indent: -1em;
    padding-inline-start: 1em;
    break-inside: avoid;
}
section.biblio span.authors {
    font-variant: small-caps;
    font-weight: 500;
}
section.biblio span.authors span {
    font-variant: normal;
}

.endnotes {
    font-size: 90%;
}
.endnotes ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
.endnotes li {
    text-indent: -0.75em;
    padding-left: 0.75em;
}

/* ----------------------------------------------
    Figures
   ---------------------------------------------- */

figure {
    margin: 2em 1em;
    text-align: center;
    font-size: 95%;
}
figure img, figure svg {
    max-width: 100%;
	display: block;
    height: auto;
}
figure.wide {
	margin-block: 3em;
}
figure.wide :is(img, svg) {
	margin-inline: calc((90vw - min(90vw,42em)) / -2);
	max-width: 85vw;
}
figure .halfwidth {
    max-width: 50%;
    margin-inline: auto;
}
figure figcaption {
    display: grid;
    grid-template-columns: max-content auto;
    justify-content: center;
    gap: 0.75em;
    padding: 0.5em 1.5em;
    text-align: justify;
    text-align-last: center;
}
figure p {
	text-indent: 0;
}

/* Equation figures */

figure.numbered.equation {
    display: grid;
    grid-template-columns: auto min-content;
    align-items: center;
    margin-block: 0;
}
figure.numbered.equation figcaption {
    display: block;
    padding: 0;
}

/* Table figures */

figure.table {
	margin-inline: auto;
	max-width: 95%;
}
figure.wide.table {
	margin-block: 3em;
}
figure.wide.table table {
	margin-inline: calc((90vw - min(90vw,42em)) / -2);
}
figure.table figcaption, figure.table caption {
    font-weight: 600;
}
figure.table figcaption {
    display: block;
    font-size: 110%;
}
figure.table figcaption + figcaption {
    padding: 0;
}
figure.table table {
    margin-inline: auto;
    border-spacing: 1em 0;
    padding-block: 0.5em;
}
figure.table thead th {
    font-weight: normal;
    padding-block: 0.25em 0.5em;
}
figure.table :is(tbody, tbody[class]) th {
    font-weight: normal;
    text-align: left;
}
figure.table thead th:not(:empty) {
    border-bottom: 1px solid;
}
figure.table :is(tbody,tfoot) th {
    text-align: left;
}
figure.table tbody tr:first-child > * {
    padding-block-start: 0.5em;
}
figure.table tbody tr:last-child > * {
    padding-block-end: 0.5em;
}
figure.table :is(td,th) {
    padding-inline: 0.5em;
    vertical-align: center;
}
figure.table thead th {
	vertical-align: bottom;
}
figure.table tbody :is(td, th) {
    padding-inline-start: 1.5em;
    text-indent: -1em;
    line-height: 1.1;
}
figure.table .upper {
	vertical-align: top;
}
figure.table .middle {
	vertical-align: middle;
}
figure.table .lower {
	vertical-align: bottom;
}
figure.table .text {
	padding-block: 0.5em;
}
figure.table .left {
	text-align: left;
}
figure.table .flush :is(th, td) {
	text-indent: 0;
	padding-inline-start: 0;
}
figure.table .right {
	text-align: right;
}
figure.table .center {
	text-align: center;
}
figure.table td.sum {
    border-top: 1px solid;
}
figure.table ul {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
}
figure.table ul ul {
	padding-inline-start: 2.5em;
}

figure.table table.bordered {
	border-collapse: collapse;
	border-spacing: 0;
	border-block: 1px solid;
}
figure.table table.bordered caption {
	padding-block: 1em 2em;
}
figure.table table.bordered :is(td, th) {
    border-inline: 1px solid #999;
    padding-block: 0.5em;
}
figure.table table.bordered tr > :is(th, td):first-child {
    border-inline-start: 0;
    padding-inline-start: 1.1em;
}
figure.table table.bordered tr > :is(th, td):not(:first-child) {
    text-indent: 0;
    padding: 0.75em;
}
figure.table table.bordered tr.subrow > :is(th, td) {
	padding-block: 0 0.125em;
}
figure.table table.bordered tr.subrow > :first-child {
	padding-inline-start: 2em;
}
figure.table table.bordered tr.subrow + tr.subrow > :is(th, td) {
	padding-block-end: 0.5em;
}
figure.table table.bordered tr > :is(th, td):last-child {
    border-inline-end: 0;
    padding-inline-end: 0;
}
figure.table table.bordered tr.divide :is(td, th) {
	border-top: 1px solid #666;
}
figure.table table.bordered .compressed tr.divide :is(td, th) {
	padding-block-end: 0;
}
figure.table table.bordered tbody tr:first-child :is(td, th) {
	border-top: 3px double;
}
figure.table table.bordered [colspan] {
	text-align: center;
}
figure.table table.bordered [rowspan] {
	vertical-align: middle;
}


/* footnotes/endnotes */

sup a:any-link {
	padding-inline-start: 0.25em;
}
.endnotes li {
	margin-block: 0.33em;
}
.endnotes li:target {
	position: fixed;
	bottom: 0;
	width: 40rem;
	padding-block: 2em 4em;
	padding-inline: 2em;
	margin-inline: -2em 0;
	border-top: 1px solid;
	background: #FFF;
	box-shadow: 0 0 3em 3em #FFF;
}
.endnotes li .close {
	display: none;
	visibility: hidden;
	font: bold 1em sans-serif;
	text-decoration: none;
	color: inherit;
	background: #FED;
	padding-block: 0.33em 0.15em;
	padding-inline: 0.5em;
	text-indent: 0;
	border: 1px solid;
}
.endnotes li:target .close {
	display: block;
	visibility: visible;
	position: absolute;
	top: -1px;
	right: 0;
}
.endnotes li:target .backjump {
	display: none;
	visibility: hidden;
}
