body {
    font: 1em/1.35 Cambria, Times, serif;
    hyphens: auto;
}
main {
    max-width: 40em;
    margin: 0 auto;
}
main section {
    margin: 4em 0 2em;
}
main h2 {
    text-align: center;
}
main *:is(h1, h2, h3) {
    font-weight: normal;
    transform: scaleY(0.9);
    margin-block: 1.5em 0.25em;
}
main h4 {
    font-weight: normal;
    font-style: italic;
    margin-block: 1em 0.25em;
}

p {
    margin: 0;
    padding: 0.25em 0;
    text-align: justify;
    text-indent: 1em;
}
:not(p, h2, h3, h4, figure) + p {
    text-indent: 0;
}
p strong {
    margin-inline-end: 1ch;
}
p:target, dt:target, dt:target + dd {
    background: #FED;
}
p.cases {
    white-space: pre-wrap;
    margin-block: 0 1em;
    margin-inline: 1em;
}

a.xref {
    white-space: nowrap;
}
sup {
    font-size: 75%;
    line-height: 0.5;
}

main aside {
    border-block: 2px solid;
    padding-block: 2em;
    padding-inline: 2em;
    margin-block: 4em;
}
main aside h4 {
    margin-block: 2em 0.25em;
    font-style: italic;
    font-size: inherit;
    font-size: 105%;
    transform: none;
}
main aside figure {
    margin-block: 2em;
}
main aside em {
    margin-inline-end: 1ch;
}

section.biblio > * {
    margin: 0;
    padding: 0;
    list-style: none;
    columns: 2;
    gap: 1.5em;
    font-size: 90%;
}
section.biblio li {
    text-indent: -1em;
    padding-inline-start: 1em;
    break-inside: avoid;
}
section.biblio span.authors {
    font-variant: small-caps;
    font-weight: 500;
}
section.biblio span.authors span {
    font-variant: normal;
}

.endnotes {
    font-size: 90%;
}
.endnotes ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
.endnotes li {
    text-indent: -0.75em;
    padding-left: 0.75em;
}

/* ----------------------------------------------
    Figures
   ---------------------------------------------- */

figure {
    margin: 1em 2em;
    text-align: center;
    font-size: 95%;
}
figure img, figure svg {
    max-width: 100%;
    height: auto;
}
figure .halfwidth {
    max-width: 50%;
    margin-inline: auto;
}
figure figcaption {
    display: grid;
    grid-template-columns: max-content auto;
    justify-content: center;
    gap: 0.75em;
    padding: 0.5em 1.5em;
    text-align: justify;
    text-align-last: center;
}

/* Equation figures */

figure.numbered.equation {
    display: grid;
    grid-template-columns: auto min-content;
    align-items: center;
}
figure.numbered.equation figcaption {
    display: block;
    padding: 0;
}

/* Table figures */

figure.table figcaption, figure.table caption {
    font-weight: 600;
}
figure.table figcaption {
    display: block;
    font-size: 110%;
}
figure.table figcaption + figcaption {
    padding: 0;
}
figure.table table {
    margin-inline: auto;
    border-spacing: 2em 0;
}
figure.table thead th {
    font-weight: normal;
}
figure.table tbody th {
    font-weight: normal;
    text-align: left;
}
figure.table thead th:not(:empty) {
    border-bottom: 1px solid;
}
figure.table :is(tbody,tfoot) th {
    text-align: left;
}
figure.table tr:first-child > * {
    padding-top: 0.5em;
}
figure.table tr:last-child > * {
    padding-bottom: 0.5em;
}
figure.table :is(td,th) {
    padding-inline: 0.5em;
}
figure.table tbody :is(td, th) {
    vertical-align: bottom;
    padding-inline-start: 1.5em;
    text-indent: -1em;
    line-height: 1.1;
}
figure.table td.sum {
    border-top: 1px solid;
}
figure.table ul {
    text-align: left;
    list-style: none;
}
