body {font: 1em/1.35 Cambria, Times, serif; hyphens: auto;}
main {max-width: 40em; margin: 0 auto;}
main section {margin: 4em 0 2em;}
main h2 {text-align: center;}
main *:is(h1, h2, h3, h4, h5, h6) {font-weight: normal; transform: scaleY(0.9);}
figure {margin: 1em 2em; text-align: center; font-size: 95%;}
figure img {max-width: 100%;}
figure figcaption {padding: 0.5em 1.5em;}
figure.numbered.equation {display: grid; grid-template-columns: auto min-content; align-items: center;}
figure.numbered.equation figcaption {padding: 0;}
p {margin: 0 -1em; padding: 0.25em 1em; text-align: justify;}
p strong {margin: 0 1ch;}
p:target {background: #FED;}
p.cases {white-space: pre-wrap; margin-block: 0 1em; margin-inline: 1em;}
a.xref {white-space: nowrap;}
sup {font-size: 75%; line-height: 0.5;}

section.biblio ul {margin: 0; padding: 0; list-style: none; columns: 2; gap: 1.5em; font-size: 90%;}
section.biblio ul li {text-indent: -1em; padding-inline-start: 1em; break-inside: avoid;}
section.biblio span.authors {font-variant: small-caps; font-weight: 500;}
section.biblio span.authors span {font-variant: normal;}

.endnotes {font-size: 90%;}
.endnotes {margin: 0; padding: 0; list-style: none;}
.endnotes li {text-indent: -0.75em; padding-left: 0.75em;}